# ***Project: Mexican consumer perceptions and preferences for US and Texas Beef***
#### ***Author: Manuel Garcia***

#### ***Part I - Data wrangling***

***Survey 1 Block 1***

In [1]:
# Import libraries
import pandas as pd

In [2]:
# Load the dataset
#df1 = pd.read_excel(r"C:\Users\gar14685\OneDrive - Texas Tech University\PUBLICATIONS\Published\Mexican_consumers_perceptions_and_preferences_for_US_and_Texas_beef\Texas beef in Mexico\Texas-Mexico Beef Project\data\survey1_B1.xlsx")
df1 = pd.read_excel(r"D:\OneDrive - Texas Tech University\PUBLICATIONS\Published\Mexican_consumers_perceptions_and_preferences_for_US_and_Texas_beef\Texas beef in Mexico\Texas-Mexico Beef Project\data\survey1_B1.xlsx")

# Drop the first row (First column is part of the headers, so we dont needed)
df1_1 = df1.drop(0)

# Keep only the specified columns-these are the columns needed for further analyses
columns_to_keep1 = [
    "Progress", "Finished", "Q3", "Q4_1", "Q5", "Q6", "Q8", "Q9_1_1", "Q9_2_1", 
    "Q11", "Q12", "Q13", "Q15", "Q18_1", "Q18_2", "Q18_3", "Q18_4", "Q22_1", 
    "Q22_2", "Q22_3", "Q22_4", "Q23_1", "Q23_2", "Q23_3", "Q23_4", "Q23_5", 
    "Q24_1", "Q24_2", "Q24_3", "Q24_4", "CE1", "CE2", "CE3", "CE4", "CE5", 
    "CE6", "CE7", "CE8", "CE9", "CE10", "CE11", "CE12"
]

s1b1 = df1_1[columns_to_keep1]

# Renaming the columns for further analyses
s1b1 = s1b1.rename(columns={
    'Q3': 'year_born',
    'Q4_1': 'state_address',
    'Q5': 'location',
    'Q6': 'gender',
    'Q8': 'edu',
    'Q9_1_1': 'household_size_underage',
    'Q9_2_1': 'household_size_adults',
    'Q11': 'monthly_income',
    'Q12': 'budgetshare_food',
    'Q13': 'meat_purchase_freq',
    'Q15': 'meat_consumption_freq',
    'Q18_1': 'country_perception_us',
    'Q18_2': 'country_perception_us_tx',
    'Q18_3': 'country_perception_can',
    'Q18_4': 'country_perception_nic',
    'Q22_1': 'coo_beefquality_percep_us',
    'Q22_2': 'coo_beefquality_percep_mx',
    'Q22_3': 'coo_beefquality_percep_can',
    'Q22_4': 'coo_beefquality_percep_nic',
    'Q23_1': 'state_beefquality_percep_tx',
    'Q23_2': 'state_beefquality_percep_nebraska',
    'Q23_3': 'state_beefquality_percep_ks',
    'Q23_4': 'state_beefquality_percep_ca',
    'Q23_5': 'state_beefquality_percep_ok',
    'Q24_1': 'coo_percep_higherquality',
    'Q24_2': 'coo_percep_constantquality',
    'Q24_3': 'coo_percep_original',
    'Q24_4': 'coo_percep_exclusivity'
})

# Create a new column named 'block' and fill it with the value 'b1'
s1b1.loc[:, 'block'] = 'b1'
s1b1.head()

,Progress,Finished,year_born,state_address,location,gender,edu,household_size_underage,household_size_adults,monthly_income,...,CE4,CE5,CE6,CE7,CE8,CE9,CE10,CE11,CE12,block
1,100,True,NaN,NaN,NaN,NaN,NaN,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b1
2,100,True,1990,Aguascalientes,Rural,Masculino,6,1,4,"8,000-12,999 Pesos",...,Opción 1,Opción 1,Opción 2,Opción 5,Opción 4,Opción 2,Opción 4,NaN,NaN,b1
3,100,True,1995,Chihuahua,Rural,Otro,"Universitario (Licenciatura, Ingeniería o posg...",0,2,NaN,...,Opción 1,Opción 3,Opción 1,Opción 1,Opción 4,Opción 2,Opción 2,NaN,NaN,b1
4,100,True,1996,Ciudad de México,Urbana,Femenino,6,0,6,"Más de 30,000 Pesos",...,Opción 5,Opción 5,Opción 4,Opción 1,Opción 2,Opción 3,Opción 2,NaN,NaN,b1
5,100,True,1993,Michoacán de Ocampo,Urbana,Masculino,"Universitario (Licenciatura, Ingeniería o posg...",0,1,"13,000-19,999 Pesos",...,Opción 1,Opción 1,Opción 1,Opción 1,Opción 4,Opción 4,Opción 2,NaN,NaN,b1

***Survey 1 Block 2***

In [3]:
# Load the dataset
#df2 = pd.read_excel(r"C:\Users\gar14685\OneDrive - Texas Tech University\PUBLICATIONS\Published\Mexican_consumers_perceptions_and_preferences_for_US_and_Texas_beef\Texas beef in Mexico\Texas-Mexico Beef Project\data\survey1_B2.xlsx")
df2 = pd.read_excel(r"D:\OneDrive - Texas Tech University\PUBLICATIONS\Published\Mexican_consumers_perceptions_and_preferences_for_US_and_Texas_beef\Texas beef in Mexico\Texas-Mexico Beef Project\data\survey1_B2.xlsx")

# Drop the first row
df2_1 = df2.drop(0)

# Keep only the specified columns
columns_to_keep2 = [
    "Progress", "Finished", "Q3", "Q4_1", "Q5", "Q6", "Q8", "Q9_1_1", "Q9_2_1", 
    "Q11", "Q12", "Q13", "Q15", "Q18_1", "Q18_2", "Q18_3", "Q18_4", "Q22_1", 
    "Q22_2", "Q22_3", "Q22_4", "Q23_1", "Q23_2", "Q23_3", "Q23_4", "Q23_5", 
    "Q24_1", "Q24_2", "Q24_3", "Q24_4", "CE1", "CE2", "CE3", "CE4", "CE5", 
    "CE6", "CE7", "CE8", "CE9", "CE10", "CE11", "CE12"
]

s1b2 = df2_1[columns_to_keep2]

# Renaming the columns for further analyses
s1b2 = s1b2.rename(columns={
    'Q3': 'year_born',
    'Q4_1': 'state_address',
    'Q5': 'location',
    'Q6': 'gender',
    'Q8': 'edu',
    'Q9_1_1': 'household_size_underage',
    'Q9_2_1': 'household_size_adults',
    'Q11': 'monthly_income',
    'Q12': 'budgetshare_food',
    'Q13': 'meat_purchase_freq',
    'Q15': 'meat_consumption_freq',
    'Q18_1': 'country_perception_us',
    'Q18_2': 'country_perception_us_tx',
    'Q18_3': 'country_perception_can',
    'Q18_4': 'country_perception_nic',
    'Q22_1': 'coo_beefquality_percep_us',
    'Q22_2': 'coo_beefquality_percep_mx',
    'Q22_3': 'coo_beefquality_percep_can',
    'Q22_4': 'coo_beefquality_percep_nic',
    'Q23_1': 'state_beefquality_percep_tx',
    'Q23_2': 'state_beefquality_percep_nebraska',
    'Q23_3': 'state_beefquality_percep_ks',
    'Q23_4': 'state_beefquality_percep_ca',
    'Q23_5': 'state_beefquality_percep_ok',
    'Q24_1': 'coo_percep_higherquality',
    'Q24_2': 'coo_percep_constantquality',
    'Q24_3': 'coo_percep_original',
    'Q24_4': 'coo_percep_exclusivity'
})


# Create a new column named 'block' and fill it with the value 'b2'
s1b2.loc[:, 'block'] = 'b2'
s1b2.head()

,Progress,Finished,year_born,state_address,location,gender,edu,household_size_underage,household_size_adults,monthly_income,...,CE4,CE5,CE6,CE7,CE8,CE9,CE10,CE11,CE12,block
1,68,False,NaN,NaN,NaN,NaN,NaN,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b2
2,70,False,NaN,NaN,NaN,NaN,NaN,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b2
3,100,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b2
4,100,True,1974,Ciudad de México,Urbana,Masculino,"Universitario (Licenciatura, Ingeniería o posg...",1,2,"Más de 30,000 Pesos",...,Opción 1,Opción 3,Opción 5,Opción 1,Opción 2,Opción 2,Opción 5,Opción 4,Opción 1,b2
5,100,True,1996,Tlaxcala,Urbana,Femenino,"Universitario (Licenciatura, Ingeniería o posg...",0,3,"5,000-7,999 Pesos",...,Opción 5,Opción 4,Opción 2,Opción 1,Opción 2,Opción 2,Opción 5,Opción 3,Opción 4,b2

***Survey 1 Conjoint-Block 1***

In [4]:
# Load the dataset
#df3 = pd.read_excel(r"C:\Users\gar14685\OneDrive - Texas Tech University\PUBLICATIONS\Published\Mexican_consumers_perceptions_and_preferences_for_US_and_Texas_beef\Texas beef in Mexico\Texas-Mexico Beef Project\data\survey1_conjoint_B1.xlsx")
df3 = pd.read_excel(r"D:\OneDrive - Texas Tech University\PUBLICATIONS\Published\Mexican_consumers_perceptions_and_preferences_for_US_and_Texas_beef\Texas beef in Mexico\Texas-Mexico Beef Project\data\survey1_conjoint_B1.xlsx")

# Drop the first row
df3_1= df3.drop(0)

# Keep only the specified columns
columns_to_keep3 = [
    "Progress", "Finished", "Q1", "Q2_1", "Q3", "Q4", "Q6", "Q7_1_1", "Q7_2_1", 
    "Q9", "Q10", "Q11", "Q13", "Q15_1", "Q15_2", "Q15_3", "Q15_4", "Q19_1", 
    "Q19_2", "Q19_3", "Q19_4", "Q20_1", "Q20_2", "Q20_3", "Q20_4", "Q20_5", 
    "Q21_1", "Q21_2", "Q21_3", "Q21_4", "CE1", "CE2", "CE3", "CE4", "CE5", 
    "CE6", "CE7", "CE8", "CE9", "CE10", "CE11", "CE12"
]

s1cb1 = df3_1[columns_to_keep3]

# Define the column renaming mapping
s1cb1 = s1cb1.rename(columns={
    "Q1": 'year_born',
    "Q2_1": 'state_address',
    "Q3": 'location',
    "Q4": 'gender',
    "Q6": 'edu',
    "Q7_1_1": 'household_size_underage',
    "Q7_2_1": 'household_size_adults',
    "Q9": 'monthly_income',
    "Q10": 'budgetshare_food',
    "Q11": 'meat_purchase_freq',
    "Q13": 'meat_consumption_freq',
    "Q15_1": 'country_perception_us',
    "Q15_2": 'country_perception_us_tx',
    "Q15_3":'country_perception_can',
    "Q15_4": 'country_perception_nic',
    "Q19_1": 'coo_beefquality_percep_us',
    "Q19_2": 'coo_beefquality_percep_mx',
    "Q19_3": 'coo_beefquality_percep_can',
    "Q19_4": 'coo_beefquality_percep_nic',
    "Q20_1": 'state_beefquality_percep_tx',
    "Q20_2": 'state_beefquality_percep_nebraska',
    "Q20_3": 'state_beefquality_percep_ks',
    "Q20_4": 'state_beefquality_percep_ca', 
    "Q20_5": 'state_beefquality_percep_ok',
    "Q21_1": 'coo_percep_higherquality',
    "Q21_2": 'coo_percep_constantquality',
    "Q21_3": 'coo_percep_original',
    "Q21_4": 'coo_percep_exclusivity'
})


# Create a new column named 'block' and fill it with the value 'b1'
s1cb1.loc[:, 'block'] = 'b1'
s1cb1.head()

,Progress,Finished,year_born,state_address,location,gender,edu,household_size_underage,household_size_adults,monthly_income,...,CE4,CE5,CE6,CE7,CE8,CE9,CE10,CE11,CE12,block
1,100,True,1993,México,Urbana,Masculino,Carrera técnica o comercial,1,5,"20,000-30,000 Pesos",...,Opción 3,Opción 4,Opción 3,Opción 5,Opción 1,Opción 2,Opción 4,Opción 1,Opción 3,b1
2,100,True,1990,NaN,Urbana,Masculino,"Universitario (Licenciatura, Ingeniería o posg...",1,2,"8,000-12,999 Pesos",...,Opción 3,Opción 4,Opción 4,Opción 5,Opción 4,Opción 5,Opción 5,Opción 3,Opción 5,b1
3,100,True,1984,NaN,Urbana,Femenino,Carrera técnica o comercial,3,2,"13,000-19,999 Pesos",...,Opción 5,Opción 3,Opción 2,Opción 5,Opción 4,Opción 2,Opción 3,Opción 3,Opción 5,b1
4,100,True,1993,México,Urbana,Masculino,Preparatoria o bachillerato,2,2,"5,000-7,999 Pesos",...,Opción 4,Opción 2,Opción 3,Opción 4,Opción 2,Opción 5,Opción 1,Opción 5,Opción 2,b1
5,100,True,1975,Tamaulipas,Urbana,Femenino,"Universitario (Licenciatura, Ingeniería o posg...",1,4,"3,000-4,999 Pesos",...,Opción 4,Opción 4,Opción 4,Opción 2,Opción 5,Opción 4,Opción 1,Opción 4,Opción 2,b1

***Survey 1 Conjoint-Block 2***

In [5]:
# Load the dataset
#df4 = pd.read_excel(r"C:\Users\gar14685\OneDrive - Texas Tech University\PUBLICATIONS\Published\Mexican_consumers_perceptions_and_preferences_for_US_and_Texas_beef\Texas beef in Mexico\Texas-Mexico Beef Project\data\survey1_conjoint_B2.xlsx")
df4 = pd.read_excel(r"D:\OneDrive - Texas Tech University\PUBLICATIONS\Published\Mexican_consumers_perceptions_and_preferences_for_US_and_Texas_beef\Texas beef in Mexico\Texas-Mexico Beef Project\data\survey1_conjoint_B2.xlsx")

# Drop the first row
df4_1= df4.drop(0)

# Keep only the specified columns
columns_to_keep4 = [
    "Progress", "Finished", "Q1", "Q2_1", "Q3", "Q4", "Q6", "Q7_1_1", "Q7_2_1", 
    "Q9", "Q10", "Q11", "Q13", "Q15_1", "Q15_2", "Q15_3", "Q15_4", "Q19_1", 
    "Q19_2", "Q19_3", "Q19_4", "Q20_1", "Q20_2", "Q20_3", "Q20_4", "Q20_5", 
    "Q21_1", "Q21_2", "Q21_3", "Q21_4", "CE1", "CE2", "CE3", "CE4", "CE5", 
    "CE6", "CE7", "CE8", "CE9", "CE10", "CE11", "CE12"
]

s1cb2 = df4_1[columns_to_keep4]

# Define the column renaming mapping
s1cb2 = s1cb2.rename(columns={
    "Q1": 'year_born',
    "Q2_1": 'state_address',
    "Q3": 'location',
    "Q4": 'gender',
    "Q6": 'edu',
    "Q7_1_1": 'household_size_underage',
    "Q7_2_1": 'household_size_adults',
    "Q9": 'monthly_income',
    "Q10": 'budgetshare_food',
    "Q11": 'meat_purchase_freq',
    "Q13": 'meat_consumption_freq',
    "Q15_1": 'country_perception_us',
    "Q15_2": 'country_perception_us_tx',
    "Q15_3":'country_perception_can',
    "Q15_4": 'country_perception_nic',
    "Q19_1": 'coo_beefquality_percep_us',
    "Q19_2": 'coo_beefquality_percep_mx',
    "Q19_3": 'coo_beefquality_percep_can',
    "Q19_4": 'coo_beefquality_percep_nic',
    "Q20_1": 'state_beefquality_percep_tx',
    "Q20_2": 'state_beefquality_percep_nebraska',
    "Q20_3": 'state_beefquality_percep_ks',
    "Q20_4": 'state_beefquality_percep_ca', 
    "Q20_5": 'state_beefquality_percep_ok',
    "Q21_1": 'coo_percep_higherquality',
    "Q21_2": 'coo_percep_constantquality',
    "Q21_3": 'coo_percep_original',
    "Q21_4": 'coo_percep_exclusivity'
})


# Create a new column named 'block' and fill it with the value 'b2'
s1cb2.loc[:, 'block'] = 'b2'
s1cb2.head()

,Progress,Finished,year_born,state_address,location,gender,edu,household_size_underage,household_size_adults,monthly_income,...,CE4,CE5,CE6,CE7,CE8,CE9,CE10,CE11,CE12,block
1,100,True,1989,México,Urbana,Masculino,Primaria,1,0,"13,000-19,999 Pesos",...,Opción 4,Opción 4,Opción 3,Opción 2,Opción 4,Opción 3,Opción 5,Opción 3,Ninguno,b2
2,100,True,1979,NaN,Urbana,Femenino,"Universitario (Licenciatura, Ingeniería o posg...",0,1,"Más de 30,000 Pesos",...,Ninguno,Ninguno,Ninguno,Ninguno,Ninguno,Ninguno,Ninguno,Ninguno,Ninguno,b2
3,100,True,1982,Puebla,Urbana,Femenino,"Universitario (Licenciatura, Ingeniería o posg...",1,2,"13,000-19,999 Pesos",...,Ninguno,Ninguno,Opción 5,Ninguno,Opción 2,Opción 2,Ninguno,Ninguno,Opción 4,b2
4,100,True,1990,NaN,Urbana,Femenino,"Universitario (Licenciatura, Ingeniería o posg...",1,2,"5,000-7,999 Pesos",...,Opción 1,Opción 4,Opción 3,Opción 1,Opción 1,Opción 1,Opción 5,Opción 3,Opción 2,b2
5,100,True,1999,México,Urbana,Femenino,Preparatoria o bachillerato,0,3,"5,000-7,999 Pesos",...,Opción 4,Opción 4,Opción 3,Opción 1,Opción 2,Opción 2,Opción 5,Opción 3,Opción 2,b2

***Survey 2 Block 1***

In [6]:
# Load the dataset
#df5 = pd.read_excel(r"C:\Users\gar14685\OneDrive - Texas Tech University\PUBLICATIONS\Published\Mexican_consumers_perceptions_and_preferences_for_US_and_Texas_beef\Texas beef in Mexico\Texas-Mexico Beef Project\data\Survey2_B1.xlsx")
df5 = pd.read_excel(r"D:\OneDrive - Texas Tech University\PUBLICATIONS\Published\Mexican_consumers_perceptions_and_preferences_for_US_and_Texas_beef\Texas beef in Mexico\Texas-Mexico Beef Project\data\Survey2_B1.xlsx")

# Drop the first row
df5_1= df5.drop(0)

# Keep only the specified columns
columns_to_keep5 = [
    "Progress", "Finished", "Q3", "Q4_1", "Q5", "Q6", "Q8", "Q9_1_1", "Q9_2_1", 
    "Q11", "Q12_1", "Q14", "Q16", "Q19_1", "Q19_2", "Q19_3", "Q19_4", "Q23_1", 
    "Q23_2", "Q23_3", "Q23_4", "Q24_1", "Q24_2", "Q24_3", "Q24_4", "Q24_5", 
    "Q25_1", "Q25_2", "Q25_3", "Q25_4", "CE1", "CE2", "CE3", "CE4", "CE5", 
    "CE6", "CE7", "CE8", "CE9", "CE10", "CE11", "CE12"
]


s2b1 = df5_1[columns_to_keep5]

# Define the column renaming mapping
s2b1 = s2b1.rename(columns={
    'Q3': 'year_born',
    'Q4_1': 'state_address',
    'Q5': 'location',
    'Q6': 'gender',
    'Q8': 'edu',
    'Q9_1_1': 'household_size_underage',
    'Q9_2_1': 'household_size_adults',
    'Q11': 'monthly_income',
    "Q12_1": 'budgetshare_food',
    "Q14": 'meat_purchase_freq',
    "Q16": 'meat_consumption_freq',
    "Q19_1": 'country_perception_us',
    "Q19_2": 'country_perception_us_tx',
    "Q19_3": 'country_perception_can',
    "Q19_4": 'country_perception_nic',  
    "Q23_1": 'coo_beefquality_percep_us',
    "Q23_2": 'coo_beefquality_percep_mx',
    "Q23_3": 'coo_beefquality_percep_can',
    "Q23_4": 'coo_beefquality_percep_nic', 
    "Q24_1": 'state_beefquality_percep_tx',
    "Q24_2": 'state_beefquality_percep_nebraska',
    "Q24_3": 'state_beefquality_percep_ks',
    "Q24_4": 'state_beefquality_percep_ca',
    "Q24_5": 'state_beefquality_percep_ok',  
    "Q25_1": 'coo_percep_higherquality',
    "Q25_2": 'coo_percep_constantquality',
    "Q25_3": 'coo_percep_original',
    "Q25_4": 'coo_percep_exclusivity'
})


# Create a new column named 'block' and fill it with the value 'b1'
s2b1.loc[:, 'block'] = 'b1'
s2b1.head()

,Progress,Finished,year_born,state_address,location,gender,edu,household_size_underage,household_size_adults,monthly_income,...,CE4,CE5,CE6,CE7,CE8,CE9,CE10,CE11,CE12,block
1,100,True,2001,Puebla,Urbana,Masculino,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b1
2,100,True,2000,NaN,Urbana,Masculino,"Universitario (Licenciatura, Ingeniería o posg...",0,1,"13,000-19,999 Pesos",...,Opción 3,Opción 2,Opción 4,Opción 2,Opción 2,Opción 5,Opción 2,Opción 4,Opción 4,b1
3,100,True,1992,Ciudad de México,Urbana,Femenino,"Universitario (Licenciatura, Ingeniería o posg...",2,2,"Más de 30,000 Pesos",...,Opción 4,Opción 3,Opción 4,Opción 5,Opción 5,Opción 3,Opción 2,Opción 1,Opción 3,b1
4,100,True,1979,Jalisco,Urbana,Femenino,"Universitario (Licenciatura, Ingeniería o posg...",2,1,"8,000-12,999 Pesos",...,Opción 4,Opción 1,Opción 3,Opción 5,Opción 2,Opción 4,Opción 3,Opción 5,Opción 5,b1
5,100,True,1990,NaN,Urbana,Masculino,Secundaria,2,10,"13,000-19,999 Pesos",...,Opción 5,Opción 2,Opción 5,Opción 2,Opción 3,Opción 5,Opción 3,Opción 2,Opción 5,b1

***Survey 2 Block 2***

In [7]:
# Load the dataset
#df6 = pd.read_excel(r"C:\Users\gar14685\OneDrive - Texas Tech University\PUBLICATIONS\Published\Mexican_consumers_perceptions_and_preferences_for_US_and_Texas_beef\Texas beef in Mexico\Texas-Mexico Beef Project\data\Survey2_B2.xlsx")
df6 = pd.read_excel(r"D:\OneDrive - Texas Tech University\PUBLICATIONS\Published\Mexican_consumers_perceptions_and_preferences_for_US_and_Texas_beef\Texas beef in Mexico\Texas-Mexico Beef Project\data\Survey2_B2.xlsx")

# Drop the first row
df6_1= df6.drop(0)

# Keep only the specified columns
columns_to_keep6 = [
    "Progress", "Finished", "Q3", "Q4_1", "Q5", "Q6", "Q8", "Q9_1_1", "Q9_2_1", 
    "Q11", "Q12_1", "Q14", "Q16", "Q19_1", "Q19_2", "Q19_3", "Q19_4", "Q23_1", 
    "Q23_2", "Q23_3", "Q23_4", "Q24_1", "Q24_2", "Q24_3", "Q24_4", "Q24_5", 
    "Q25_1", "Q25_2", "Q25_3", "Q25_4", "CE1", "CE2", "CE3", "CE4", "CE5", 
    "CE6", "CE7", "CE8", "CE9", "CE10", "CE11", "CE12"
]


s2b2 = df6_1[columns_to_keep6]

# Define the column renaming mapping
s2b2 = s2b2.rename(columns={
    'Q3': 'year_born',
    'Q4_1': 'state_address',
    'Q5': 'location',
    'Q6': 'gender',
    'Q8': 'edu',
    'Q9_1_1': 'household_size_underage',
    'Q9_2_1': 'household_size_adults',
    'Q11': 'monthly_income',
    "Q12_1": 'budgetshare_food',
    "Q14": 'meat_purchase_freq',
    "Q16": 'meat_consumption_freq',
    "Q19_1": 'country_perception_us',
    "Q19_2": 'country_perception_us_tx',
    "Q19_3": 'country_perception_can',
    "Q19_4": 'country_perception_nic',  
    "Q23_1": 'coo_beefquality_percep_us',
    "Q23_2": 'coo_beefquality_percep_mx',
    "Q23_3": 'coo_beefquality_percep_can',
    "Q23_4": 'coo_beefquality_percep_nic', 
    "Q24_1": 'state_beefquality_percep_tx',
    "Q24_2": 'state_beefquality_percep_nebraska',
    "Q24_3": 'state_beefquality_percep_ks',
    "Q24_4": 'state_beefquality_percep_ca',
    "Q24_5": 'state_beefquality_percep_ok',  
    "Q25_1": 'coo_percep_higherquality',
    "Q25_2": 'coo_percep_constantquality',
    "Q25_3": 'coo_percep_original',
    "Q25_4": 'coo_percep_exclusivity'
})

# Create a new column named 'block' and fill it with the value 'b2'
s2b2.loc[:, 'block'] = 'b2'
s2b2.head()

,Progress,Finished,year_born,state_address,location,gender,edu,household_size_underage,household_size_adults,monthly_income,...,CE4,CE5,CE6,CE7,CE8,CE9,CE10,CE11,CE12,block
1,100,True,1990,Ciudad de México,Urbana,Femenino,"Universitario (Licenciatura, Ingeniería o posg...",2,4,"13,000-19,999 Pesos",...,Opción 4,Opción 4,Opción 3,Opción 1,Opción 2,Opción 2,Opción 5,Opción 3,Opción 4,b2
2,100,True,1987,Ciudad de México,Urbana,Masculino,Preparatoria o bachillerato,2,2,"13,000-19,999 Pesos",...,Opción 5,Opción 5,Opción 5,Opción 5,Opción 2,Opción 2,Opción 5,Opción 3,Opción 2,b2
3,100,True,1985,Chihuahua,Urbana,Masculino,"Universitario (Licenciatura, Ingeniería o posg...",1,4,"13,000-19,999 Pesos",...,Opción 2,Opción 1,Opción 3,Opción 1,Opción 1,Opción 3,Opción 4,Opción 3,Opción 5,b2
4,100,True,1987,Jalisco,Urbana,Masculino,"Universitario (Licenciatura, Ingeniería o posg...",1,2,"20,000-30,000 Pesos",...,Opción 3,Opción 4,Opción 5,Opción 1,Opción 2,Opción 2,Opción 5,Opción 3,Ninguno,b2
5,100,True,1981,Jalisco,Urbana,Masculino,"Universitario (Licenciatura, Ingeniería o posg...",3,2,"Más de 30,000 Pesos",...,Opción 4,Opción 2,Opción 5,Opción 5,Opción 2,Opción 3,Opción 5,Opción 4,Opción 3,b2

***Survey 2 Block 1-Quantities***

In [8]:
# Load the dataset
#df7 = pd.read_excel(r"C:\Users\gar14685\OneDrive - Texas Tech University\PUBLICATIONS\Published\Mexican_consumers_perceptions_and_preferences_for_US_and_Texas_beef\Texas beef in Mexico\Texas-Mexico Beef Project\data\Survey2_B1_with_quantities.xlsx")
df7 = pd.read_excel(r"D:\OneDrive - Texas Tech University\PUBLICATIONS\Published\Mexican_consumers_perceptions_and_preferences_for_US_and_Texas_beef\Texas beef in Mexico\Texas-Mexico Beef Project\data\Survey2_B1_with_quantities.xlsx")

# Drop the first row
df7_1= df7.drop(0)

# Keep only the specified columns
columns_to_keep7 = [
    "Progress", "Finished", "Q3", "Q4_1", "Q5", "Q6", "Q8", "Q9_1_1", "Q9_2_1", 
    "Q11", "Q12_1", "Q14", "Q16", "Q19_1", "Q19_2", "Q19_3", "Q19_4", "Q23_1", 
    "Q23_2", "Q23_3", "Q23_4", "Q24_1", "Q24_2", "Q24_3", "Q24_4", "Q24_5", 
    "Q25_1", "Q25_2", "Q25_3", "Q25_4", "CE1", "CE2", "CE3", "CE4", "CE5", 
    "CE6", "CE7", "CE8", "CE9", "CE10", "CE11", "CE12"
]


s2b1_quantity = df7_1[columns_to_keep7]

# Define the column renaming mapping
s2b1_quantity = s2b1_quantity.rename(columns={
    'Q3': 'year_born',
    'Q4_1': 'state_address',
    'Q5': 'location',
    'Q6': 'gender',
    'Q8': 'edu',
    'Q9_1_1': 'household_size_underage',
    'Q9_2_1': 'household_size_adults',
    'Q11': 'monthly_income',
    "Q12_1": 'budgetshare_food',
    "Q14": 'meat_purchase_freq',
    "Q16": 'meat_consumption_freq',
    "Q19_1": 'country_perception_us',
    "Q19_2": 'country_perception_us_tx',
    "Q19_3": 'country_perception_can',
    "Q19_4": 'country_perception_nic',  
    "Q23_1": 'coo_beefquality_percep_us',
    "Q23_2": 'coo_beefquality_percep_mx',
    "Q23_3": 'coo_beefquality_percep_can',
    "Q23_4": 'coo_beefquality_percep_nic', 
    "Q24_1": 'state_beefquality_percep_tx',
    "Q24_2": 'state_beefquality_percep_nebraska',
    "Q24_3": 'state_beefquality_percep_ks',
    "Q24_4": 'state_beefquality_percep_ca',
    "Q24_5": 'state_beefquality_percep_ok',  
    "Q25_1": 'coo_percep_higherquality',
    "Q25_2": 'coo_percep_constantquality',
    "Q25_3": 'coo_percep_original',
    "Q25_4": 'coo_percep_exclusivity'
})


# Create a new column named 'block' and fill it with the value 'b1'
s2b1_quantity.loc[:, 'block'] = 'b1'
s2b1_quantity.head()

,Progress,Finished,year_born,state_address,location,gender,edu,household_size_underage,household_size_adults,monthly_income,...,CE4,CE5,CE6,CE7,CE8,CE9,CE10,CE11,CE12,block
1,100,True,1995,Oaxaca,Urbana,Femenino,"Universitario (Licenciatura, Ingeniería o posg...",0,7,"5,000-7,999 Pesos",...,Opción 2,Opción 3,Opción 5,Opción 3,Opción 4,Opción 3,Opción 3,Opción 3,Opción 4,b1
2,100,True,1980,NaN,Urbana,Femenino,"Universitario (Licenciatura, Ingeniería o posg...",3,2,"20,000-30,000 Pesos",...,Opción 3,Opción 4,Opción 5,Opción 4,Opción 3,Opción 3,Opción 5,Opción 2,Opción 3,b1
3,100,True,1997,Veracruz de Ignacio de la Llave,Urbana,Femenino,Secundaria,2,4,"Menos de 3,000 pesos",...,Ninguno,Ninguno,Ninguno,Ninguno,Ninguno,Ninguno,Ninguno,Ninguno,Ninguno,b1
4,100,True,1986,Ciudad de México,Urbana,Masculino,"Universitario (Licenciatura, Ingeniería o posg...",1,2,"8,000-12,999 Pesos",...,Opción 4,Opción 2,Opción 5,Opción 2,Opción 5,Opción 3,Opción 4,Opción 2,Opción 3,b1
5,100,True,1978,Ciudad de México,Urbana,Femenino,"Universitario (Licenciatura, Ingeniería o posg...",0,4,"Más de 30,000 Pesos",...,Opción 5,Opción 5,Opción 5,Opción 5,Opción 4,Opción 5,Opción 5,Opción 3,Opción 5,b1

***Survey 2 Block 2-Quantities***

In [9]:
# Load the dataset
#df8 = pd.read_excel(r"C:\Users\gar14685\OneDrive - Texas Tech University\PUBLICATIONS\Published\Mexican_consumers_perceptions_and_preferences_for_US_and_Texas_beef\Texas beef in Mexico\Texas-Mexico Beef Project\data\Survey2_B2_with_quantities.xlsx")
df8 = pd.read_excel(r"D:\OneDrive - Texas Tech University\PUBLICATIONS\Published\Mexican_consumers_perceptions_and_preferences_for_US_and_Texas_beef\Texas beef in Mexico\Texas-Mexico Beef Project\data\Survey2_B2_with_quantities.xlsx")

# Drop the first row
df8_1= df8.drop(0)

# Keep only the specified columns
columns_to_keep8 = [
    "Progress", "Finished", "Q3", "Q4_1", "Q5", "Q6", "Q8", "Q9_1_1", "Q9_2_1", 
    "Q11", "Q12_1", "Q14", "Q16", "Q19_1", "Q19_2", "Q19_3", "Q19_4", "Q23_1", 
    "Q23_2", "Q23_3", "Q23_4", "Q24_1", "Q24_2", "Q24_3", "Q24_4", "Q24_5", 
    "Q25_1", "Q25_2", "Q25_3", "Q25_4", "CE1", "CE2", "CE3", "CE4", "CE5", 
    "CE6", "CE7", "CE8", "CE9", "CE10", "CE11", "CE12"
]


s2b2_quantity = df8_1[columns_to_keep8]

# Define the column renaming mapping
s2b2_quantity = s2b2_quantity.rename(columns={
    'Q3': 'year_born',
    'Q4_1': 'state_address',
    'Q5': 'location',
    'Q6': 'gender',
    'Q8': 'edu',
    'Q9_1_1': 'household_size_underage',
    'Q9_2_1': 'household_size_adults',
    'Q11': 'monthly_income',
    "Q12_1": 'budgetshare_food',
    "Q14": 'meat_purchase_freq',
    "Q16": 'meat_consumption_freq',
    "Q19_1": 'country_perception_us',
    "Q19_2": 'country_perception_us_tx',
    "Q19_3": 'country_perception_can',
    "Q19_4": 'country_perception_nic',  
    "Q23_1": 'coo_beefquality_percep_us',
    "Q23_2": 'coo_beefquality_percep_mx',
    "Q23_3": 'coo_beefquality_percep_can',
    "Q23_4": 'coo_beefquality_percep_nic', 
    "Q24_1": 'state_beefquality_percep_tx',
    "Q24_2": 'state_beefquality_percep_nebraska',
    "Q24_3": 'state_beefquality_percep_ks',
    "Q24_4": 'state_beefquality_percep_ca',
    "Q24_5": 'state_beefquality_percep_ok',  
    "Q25_1": 'coo_percep_higherquality',
    "Q25_2": 'coo_percep_constantquality',
    "Q25_3": 'coo_percep_original',
    "Q25_4": 'coo_percep_exclusivity'
})

# Create a new column named 'block' and fill it with the value 'b2'
s2b2_quantity.loc[:, 'block'] = 'b2'
s2b2_quantity.head()

,Progress,Finished,year_born,state_address,location,gender,edu,household_size_underage,household_size_adults,monthly_income,...,CE4,CE5,CE6,CE7,CE8,CE9,CE10,CE11,CE12,block
1,100,True,1991,NaN,NaN,NaN,NaN,0,0,NaN,...,Opción 4,Opción 4,Opción 5,Opción 2,Opción 2,Opción 1,Opción 4,Opción 2,Opción 1,b2
2,100,True,1988,Coahuila de Zaragoza,Urbana,Femenino,"Universitario (Licenciatura, Ingeniería o posg...",3,2,"Más de 30,000 Pesos",...,Opción 3,Opción 3,Opción 5,Opción 2,Opción 5,Opción 1,Opción 2,Opción 4,Opción 2,b2
3,100,True,1990,Ciudad de México,Urbana,Masculino,"Universitario (Licenciatura, Ingeniería o posg...",2,2,"Más de 30,000 Pesos",...,Opción 1,Opción 3,Opción 5,Opción 4,Opción 2,Opción 2,Opción 3,Opción 5,Opción 4,b2
4,100,True,1985,Ciudad de México,Urbana,Masculino,"Universitario (Licenciatura, Ingeniería o posg...",2,2,"20,000-30,000 Pesos",...,Opción 1,Opción 4,Opción 5,Opción 4,Opción 4,Opción 2,Ninguno,Ninguno,Ninguno,b2
5,100,True,1994,San Luis Potosí,Urbana,Femenino,"Universitario (Licenciatura, Ingeniería o posg...",0,3,"20,000-30,000 Pesos",...,Opción 1,Opción 3,Opción 2,Opción 4,Opción 2,Opción 2,Opción 3,Opción 3,Opción 1,b2

> Its time to concatenate all the dataframes into a single one "dataset"

In [10]:
dataset = pd.concat([s1b1, s1b2, s1cb1, s1cb2, s2b1, s2b2, s2b1_quantity, s2b2_quantity], axis=0, ignore_index=True)
dataset.tail()

,Progress,Finished,year_born,state_address,location,gender,edu,household_size_underage,household_size_adults,monthly_income,...,CE4,CE5,CE6,CE7,CE8,CE9,CE10,CE11,CE12,block
3985,100,True,1992,Ciudad de México,Urbana,Femenino,"Universitario (Licenciatura, Ingeniería o posg...",2,2,"20,000-30,000 Pesos",...,Opción 3,Opción 4,Opción 3,Opción 1,Opción 3,Opción 1,Opción 2,Opción 3,Opción 2,b2
3986,100,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b2
3987,100,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b2
3988,100,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b2
3989,100,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b2

In [11]:
num_rows, num_columns = dataset.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 3990
Number of columns: 43

>>> A single "dataset" has been saved into the "data_output" folder for the further analyses in STATA

In [12]:
#dataset.to_excel(r"C:\Users\gar14685\OneDrive - Texas Tech University\PUBLICATIONS\Published\Mexican_consumers_perceptions_and_preferences_for_US_and_Texas_beef\Texas beef in Mexico\Texas-Mexico Beef Project\data_output\dataset.xlsx", index=False)
dataset.to_excel(r"D:\OneDrive - Texas Tech University\PUBLICATIONS\Published\Mexican_consumers_perceptions_and_preferences_for_US_and_Texas_beef\Texas beef in Mexico\Texas-Mexico Beef Project\data_output\dataset.xlsx", index=False)